body {
  background:#0d1b2a;
  color:white;
  font-family:sans-serif;
}

.container {
  padding:20px;
}

input, button {
  padding:10px;
  margin:5px;
}

.card {
  background:#1b263b;
  padding:20px;
  border-radius:10px;
}
